<p id=notice></p>
<div class=container>
 <div class=row>
  <div class= "mx-auto">
    <h2>スイーツショップ</h2>
    <% @sweets_shops.each do |sweets_shop| %>
       <%= link_to sweets_shop_path(sweets_shop.id) do %>
        <%= attachment_image_tag sweets_shop, :image, :size =>'180x100' %>
       <% end %>
       <%= link_to sweets_shop.shop_name, sweets_shop_path(sweets_shop.id) %></br>
      <% sweets_shop.tags.each do |tag| %>
        <%= tag.name %>
      <% end %>
       <%= sweets_shop.created_at.strftime('%Y/%m/%d') %>
    <% end %>
  
  </div>
 </div>
</div>