<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>オジェドオヌルドネイル</title>
  </head>
  <body>
     <p id="notice"></p>
     <div class="container">
       <div class="row">
        <div class="col-lg-3">
          <%= render 'users/user',user:@user %>

          <div class="col-lg-7">
              <%= attachment_image_tag @sweets_shop, :image, :size =>'500x200', class: 'img-fluid' %>
            <table class="table">
                <tr>
                  <td>
                    <h1>
                      <%= @sweets_shop.shop_name %>
                      <% if @sweets_shop.user_id == current_user.id %>
                        <%= link_to "削除", sweets_shop_path(@sweets_shop.id),method: :delete, data: { confirm: "本当に消しますか？?" }, class: 'btn btn-sm btn-danger' %></td>
                      <% end %>
                    </h1>
                  </td>
                </tr>
                    <th>商品名</th>
                    <td><%= @sweets_shop.item_name %></td>
                </tr>
                <tr>
                    <th>ジャンル</th>
                    <td><%= @sweets_shop.genre %></br></td>
                </tr>
                <tr>
                    <th>値段</th>
                    <td><%= @sweets_shop.price %>円</td>
                </tr>
                <tr>
                    <th>感想</th>
                    <td><%= @sweets_shop.body %></td>
                </tr>
                <tr>
                    <th>都道府県</th>
                    <td><%= @sweets_shop.prefectures %></td>
                </tr>
                <tr>
                <tr>
                    <th>住所</th>
                    <td><%= @sweets_shop.address %></td>
                </tr>
                <tr>
                    <th>開店時間</th>
                    <td><%= @sweets_shop.start_time.strftime( "%H:%M" ) %></td>
               </tr>
               <tr>
                   <th>閉店時間</th>
                   <td><%= @sweets_shop.finish_time.strftime( "%H:%M" ) %></td>
                </tr>
                <tr>
                    <th>定休日</th>
                    <td><%= @sweets_shop.regular_holiday %></td>
                </tr>
                <tr>
                    <th>テイクアウト</th>
                    <td><%= @sweets_shop.status_i18n %></td>
                </tr>
                <tr>
                    <th>投稿日</th>
                    <td><%= @sweets_shop.created_at.strftime('%Y/%m/%d') %></td>
                </tr>
           </div>
        </div>
     </div>
    </div>
  </body>
</html>
