<p id="notice"></p>
 <%= render 'users/user',user:@user %>
<div class="container">
      <div class="row">
          <div class="col-md-6">
            <%= attachment_image_tag @sweets_shop, :image, class: 'img-fluid' %>
            <table class="table">
                <tr>
                    <td><h1><%= @sweets_shop.shop_name %></h1></td>
                </tr>
                    <th>商品名</th>
                    <td><%= @sweets_shop.item_name %></td>
                </tr>
                <tr>
                    <th>ジャンル</th>
                    <td><%= @sweets_shop.genre %></br></td>
                </tr>
                <tr>
                    <th>値段</th>
                    <td><%= @sweets_shop.price %>円</td>
                </tr>
                <tr>
                    <th>感想</th>
                    <td><%= @sweets_shop.body %></td>
                </tr>
                <tr>
                    <th>住所</th>
                    <td><%= @sweets_shop.address %></td>
                </tr>
                <tr>
                    <th>開店時間</th>
                    <td><%#= @sweets_shop.start_time.strftime( "%H:%M" ) %></td>
               </tr>
               <tr>
                   <th>閉店時間</th>
                   <td><%#= @sweets_shop.finish_time.strftime( "%H:%M" ) %></td>
                </tr>
                <tr>
                    <th>定休日</th>
                    <td><%= @sweets_shop.regular_holiday %></td>
                </tr>
                <tr>
                    <th>テイクアウト</th>
                    <td><%= @sweets_shop.status %></td>
                </tr>
                <tr>
                    <th>投稿日</th>
                    <td><%= @sweets_shop.created_at.strftime('%Y/%m/%d') %></td>
                </tr>
            
                <% if @sweets_shop.user_id == current_user.id %>
                  <%= link_to "削除", sweets_shop_path(@sweets_shop.id),method: :delete, data: { confirm: "本当に消しますか？?" }, class: 'btn btn-sm btn-danger' %></td>
                <% end %>
            </table>
            <div id="like-buttons">
                <%= render 'likes/like', sweets_shop: @sweets_shop %>
            </div>
            <div>
                 <p>コメント件数：<%= @sweets_shop.comments.count %></p>
                 <% @sweets_shop.comments.each do |comment| %>
                   <p><%= image_tag('image.jpg') %></p>
                   <%= comment.user.name %>
                   <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %>
                 <% end %>
                 </div>
                 <div>
                 <%= form_with(model:[@sweets_shop, @comment], local: true) do |f| %>
                   <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
                   <%= f.submit "送信する" %>
                 <% end %>
          </div>
      </div>
</div>
 
