<%= attachment_image_tag user, :image, :size =>'180x100' %>
<table class="table">
  <tbody>
    <tr>
      <th>name</th>
      <th><%= user.name %></th>
    </tr>
    <tr>
      <th>introduction</th>
      <th><%= user.introduction %></th>
     </tr>
  </tbody>
</table>
<% if user_signed_in? %>
  <%= link_to "一覧", user_path(user.id) %>
  <%= link_to "編集", user_edit_path, class: 'btn btn-outline-secondary' %>
<% end %>



