<h2>編集</h2>
    <!-- <%# if @user.errors.any? %>-->
    <!-- <div id="error_explanation">-->
    <!--  <h3><%#= pluralize(@user.errors.count, "error") %> 1 error prohibited this obj from being saved:</h3>-->
    <!--  <ul>-->
    <!--    <%# @user.errors.full_messages.each do |message| %>-->
    <!--      <li><%#= message %></li>-->
    <!--    <%# end %>-->
    <!--  </ul>-->
    <!--</div>-->
    <!--<%# end %>-->
<%=link_to "退会する", mypages_withdraw_path, method: :patch, data: { confirm: "本当に退会しますか?" }, class:'btn btn-danger' %>
<%= form_with model:@user, local:true do |f| %>
  <div class=group>
    <label for="inputName">
      <%= f.text_field :name, autofocus: true, id:"inputName"%>
    </label>
  </div> 
  <div class=group>
    <label for="inputImage">
     <%= f.attachment_field :image %>
    </label>
  </div>
  <div class=group>
    <label for="inputInputintroduction">
      <%= f.text_field :introduction %>
    </label>
  </div>
  <%= f.submit "編集", class:'btn btn-secondary' %>
  
 <% end %>