<p id="notice"></p>
<div class="container px-5 px-sm-0">
    <div class="col-md-3">
        <%= attachment_image_tag @user, :image, :size =>'180x100' %>
        <table class="table">
          <tbody>
            <tr>
              <th>name</th>
              <th><%= @user.name %></th>
            </tr>
            <tr>
              <th>introduction</th>
              <th><%= @user.introduction %></th>
             </tr>
          </tbody>
        </table>
    </div>
      <h3>投稿一覧</h3>
      <div class="row">
        <% @sweets_shops.each do |sweets_shop| %>
          <div class="col-md-3">
            <%= link_to sweets_shop_path(sweets_shop.id) do %>
              <%= attachment_image_tag sweets_shop, :image, class: 'img-fluid' %>
            <% end %>
            <h3>
              <%= link_to sweets_shop.shop_name, sweets_shop_path(sweets_shop.id) %>
              <h5><%= sweets_shop.prefectures %></h5>
            </h3>
            <% sweets_shop.tags.each do |tag| %>
              [<%= tag.name %>]
            <% end %></br>
            <%= sweets_shop.created_at.strftime('%Y/%m/%d') %></br>
            いいね<%= sweets_shop.likes.count %>
          </div>
        <% end %>
      </div>
    </div>
</div>